@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fotoFundo.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;  
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho_img {
    width: 230px;
    border-radius: 50%;
    padding: 20px;
}

.cabecalho_nome {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 40px;
    font-size: 25px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.conteudo_box {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #b5cdd9;
    width: 460px;
    padding: 15px 0;
    border: none;
    border-radius: 15px;
}

.rodape {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.rodape_img img {
    height: 40px;
}

    